:root {
    --background-color: #fef6e4;
    --primary-color: #4b3f2f;
    --secondary-color: bisque;
}

body {
    margin: 0;
    background: #fef6e4;
    font-family: 'Poppins', sans-serif;
}

.display-none {
    display: none !important;
}

.position-absolute {
    position: absolute;
}

h1 {
    font-family: monospace;
    text-align: center;
    font-size: 2.2rem;
    text-transform: none;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #4b3f2f;
    font-weight: 600;
}

section {
    padding: 24px;
}

.primary-button {
    padding: 1em 2em;
    font-size: 1.2em;
    text-transform: capitalize;
    background-color: #ff69b4;
    border: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}